body{
    background-color: rgb(20, 19, 19);
    color: grey;
}

section {
    background-color: yellow;
    border-radius: 10px;
    width: auto;
    justify-items: center; 
    padding: 1px;   
}

.content{
    margin: 50px;

}

.tipping{
    color: brown;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 30px;
}

p {
    padding: 5px ;
}

